*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat,"Helvetica Neue",Verdana,"Helvetica CY","Nimbus Sans L",sans-serif;
}
#navbar{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: sticky;
    top:0;
    background-color: white;
}
#logo{
    width: 200px;
    height: 65px;
    
}
#logo>a>img{
    width: 100%;
    height: 98%;
}
#navbar>div:nth-child(2){
    width: 600px;
   justify-content: space-between;
   margin-left: 180px;
}
#navbar>div>ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
#navbar>div>ul>li>a{
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  color: #525c69;
}
#navbar>div>ul>li>a:hover{
    color: #54B3FC;
}

#navbar>div:last-child{
    display: flex;
    font-size: 13px;
    margin-left: 50px;
   
}
#navbar>div:last-child>button{
    padding: 8px 18px;
    border-radius: 30px;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: #bdf300;
}
#navbar>div:last-child>p{
    padding: 8px 9px;
    font-size: 13px;
    font-weight: bold;
}
#navbar>div:last-child>p>a{
  color: #525c69;
}
#navbar>div:last-child>p>a:hover{
    color: #54B3FC;
}
#navbar>div:last-child>p:nth-child(2){
     margin-left: 10px;
}
#navbar>div:last-child>button>a{
    text-decoration: none;
    color: #525c69;
}
#navbar>div:last-child>p>a{
    text-decoration: none;
}
#feature{
    width: 60%;
    height: 500px;
    margin: auto;
    margin-top: 30px;
}
#feature h1{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
}
#feature_text{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    cursor: pointer;
}
#feature_text p{
    font-size: 15px;
    font-weight: bold;
    color:  #1f55eb;
    
}
#feature_text p:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
#line2{
    width: 100%;
    height: 1.5px;
    background-color:#1f55eb70;
    
}
#show_feature{
    display: flex;
   
}
#show_feature div:first-child{
    width: 40%;
    height: 350px;
}
#show_feature div #btn {
    margin-top: 20px;
    padding: 14px 27px;
    border-radius: 30px;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #bdf300;
}
#show_feature div #btn a{
    text-decoration: none;
    color: rgb(12, 11, 11);
}

#show_feature div:last-child{
    width: 90%;
   background-image: url("https://www.bitrix24.in/upload/optimizer/converted/images/content_en/screens/main/header_banner/hr.1366w.png.webp?1658307907000");
   background-size:85% 90% ;
   background-repeat: no-repeat;
   margin-top: 15px;
   margin-left: 20px;
   animation: changeimage 10s linear infinite;
}
@keyframes changeimage {
   0%{
    background-image: url("https://www.bitrix24.in/upload/optimizer/converted/images/content_en/screens/main/header_banner/hr.1366w.png.webp?1658307907000");
   }
   
    23%{
      background-image: url("https://www.bitrix24.in/upload/optimizer/converted/images/content_en/screens/main/header_banner/sites.1366w.png.webp?1658307906000");
     }
     48%{
      background-image: url("https://www.bitrix24.in/upload/optimizer/converted/images/content_en/screens/main/header_banner/hr.1366w.png.webp?1658307907000");
     }
     73%{
      background-image: url("https://www.bitrix24.in/upload/optimizer/converted/images/content_en/screens/main/header_banner/workspace.1366w.png.webp?1658307903000");
     }
     100%{
      background-image: url("https://www.bitrix24.in/upload/optimizer/converted/images/content_en/screens/main/header_banner/workspace.1366w.png.webp?1658307903000");
     }
}


#show_feature div li{
    color:  black;
    margin-top:10px ;
    list-style: none;
    font-size: 15px;
    cursor: pointer;
}
#show_feature div li::before {
    content: "\2022";
    color:  #1f55eb;
     display: inline-block; 
     width: 1em;
    margin-left: 5px;
}
#box2{
    width: 100%;
    height: 85px;
    background-color: #54B3FC;
    display: flex;
    justify-content: center;
    align-items: center;
    }
#box2>p{
   padding: 0 20px;
   color: rgba(255, 255, 255, 0.911);
   font-weight: bold;
}
#box2 p{
    padding: 0 20px;
}
#box2>p>i{
  padding-right: 7px;
  font-size: 24px;
}
#box2>p>span{
  color: #1f55eb;
  font-weight: bold;
  padding: 5px;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  margin-right: 5px;
}
/* *************************** */

#body {
    margin: auto;
    width: 70%;
    margin-top: 50px;
  }
  #subhead {
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #select {
    margin-left: 10px;
    font-size: 20px;
    width: 170px;
    height: 50px;
    border: 3px solid #84dcf8;
    border-radius: 25px; 
  }
  #subhead > div:nth-child(2) {
    display: flex;
    /* border: 1px solid; */
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  #subhead > div:nth-child(2) > div {
    border: 3px solid #84dcf8;
    height: 50px;
    width: 170px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* ------------------------------ */
  #columns {
    margin-top: 30px;
    display: flex;
    gap: 20px;
  }
  .table {
    width: 320px;
    height: auto;
  }
  .courseType {
    background-color: #e4f3a5;
    margin: auto;
    padding: 0 5px;
    padding-top: 20px;
    display: block;
    text-align: center;
    align-items: center;
    padding-bottom: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .courseType > p {
    font-size: 11px;
    color: #9eaaad;
    padding-top: 15px;
  }
  .users {
    background-color: #f5fdd6;
    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    /* border: 1px solid; */
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .flameflex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flameflex > div {
    padding-top: 5px;
    text-align: center;
    line-height: 15px;
  }
  .flame {
    height: 30px;
    width: 20px;
  }
  .green {
    margin-top: 30px;
    text-align: center;
    color: #7c9b00;
    font: 18px;
  }
  .payment {
    background-color: #a3cd00;
    margin: auto;
    width: 60%;
    height: 45px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: white;
    margin-top: 100px;
    font-weight: 550;
  }
  .data {
    text-align: center;
    margin-top: 20px;
    color: #00446b;
    font-weight: 800;
    font-size: 20px;
  }
  .hrline {
    background-color: #e4f3a5;
    margin: auto;
    height: 2px;
    width: 70%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .price {
    color: #9eaaad;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 550;
    text-align: center;
    text-decoration: line-through;
  }
  .alluser {
    color: #016abe;
    text-align: center;
    font-size: 13px;
    font-weight: 550;
    margin-bottom: -20px;
    margin-top: 5px;
    text-decoration: underline;
    text-decoration-style: dashed;
  }
  .blue {
    color: #016abe;
    font-size: 18px;
    text-align: center;
  }
  span {
    background-color: #e4f3a5;
  }
  a {
    text-decoration: none;
    color: white;
  }
  .bluehead {
    background-color: #caf0fc;
  }
  .userblue {
    background-color: #e7f9ff;
  }
  .bluepayment {
    background-color: #21bdee;
  }
  .hrlineblue {
    background-color: #21bdee;
    margin-bottom: 30px;
  }
  .list > li {
    padding-left: 50px;
    /* border:1px solid; */
    color: #9eaaad;
    font-size: 12px;
    line-height: 25px;
    font-weight: 500;
  }
  .collab {
    padding-left: 30px;
    margin-top: 10px;
    font-weight: 550;
  }
  .collab:hover,
  .list > li:hover {
    background-color: #21bdee;
    border-radius: 15px;
  }
  .greenhover:hover {
    background-color: #e4f3a5;
    border-radius: 15px;
  }
  .greenlist > li:hover {
    background-color: #e4f3a5;
    border-radius: 15px;
  }
  
  #renew > div {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .archived {
    border: 3px solid #84dcf8;
    height: 50px;
    width: 170px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #plans > a {
    text-decoration: underline;
    text-decoration-style: dashed;
    color: #4a74b5;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 30px;
  }
  #save {
    margin-top: 35px;
    margin-bottom: 60px;
  }
  #save > div {
    background-color: #21bdee;
    margin: auto;
    width: 25%;
    height: 40px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  




/* ******************************* */
#last_text{
    font-size: 27px;
    text-align: center;
    color: rgba(0, 0, 0, 0.808);
    margin-bottom: 20px;
}
 #btn1 {
    
    padding: 12px 24px;
    border-radius: 30px;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #bdf300;
    margin: auto;
    margin-bottom: 30px;
    display: block;
}
#btn1 a{
    text-decoration: none;
}




/* ******* footer section********** */
.container{
    width: 80%;
    
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}

.footer{
background-color: #54B3FC;
padding: 70px 0;;
}
.col{
   width: 16%;
   padding: 0 15px;
}
.col h4{
    color:rgba(255, 255, 255, 0.541) ;
    font-size: 12px;
    text-transform: capitalize;
    margin-bottom: 6px;
}
.col ul li{
    margin-bottom: 19px;
    font-size: 14px;
}
.col ul li a {
    text-decoration: none;
    color:rgba(255, 255, 255, 0.795);
}
#line{
    width: 100%;
    height: 2px;
    margin: auto;
    background-color:rgba(255, 255, 255, 0.445);
    margin-top: 20px;
}
#term{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#term div:first-child{
    display: flex;
    flex-direction: row;
}
#term div:first-child p a{
 text-decoration: none;
 text-transform: uppercase;
 color:rgba(255, 255, 255, 0.795);
 
 font-size: 10px;
 font-weight: bold;
 margin-left: 20px;
}
#store{
    width: 240px;
    height: 70px;
    margin-right: 20px;
    display: flex;
 
}
#store>div:first-child{
    width: 110px;
    height: 40px;
   
    margin: auto;
}
#store>div:last-child{
    width: 100px;
    height: 40px;
    
    margin: auto;
}
#store>div:first-child img{
    width: 100%;
    height: 100%;
}
#store>div:last-child img{
    width: 100%;
    height: 100%;
}
#last{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
#last>div:first-child p{
   color:rgba(255, 255, 255, 0.795);
   font-size: 10px;
   font-weight: bold;
   margin-left: 20px;
}
#last>div:last-child i{
    color: white;
    padding-left: 5px;
    margin-right: 10px;
}
#last>div:last-child input{
    width: 200px;
    height: 30px;
    background-color: transparent;
    border:1px solid rgba(255, 255, 255, 0.795); 
    border-radius: 30px;
    padding-left: 20px;
}


/* ******press div css*********** */
#press{
  width: 100%;
  height: 200px;
 }
#press p{
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    color:rgba(0, 0, 0, 0.911); 
}
#press_img{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    /* margin-left: 20px; */
}
#line1{
    width: 100%;
    height: 1px;
    background-color:rgba(138, 143, 125, 0.308);
    margin-bottom: 20px;
    margin-top: 30px;
}
#premises{
    width: 70%;
    height: 350px;
   
    margin: auto;
    display: flex;
}
#premises div:first-child{
    
    width: 50%;
    height: 100%;
}
#premises div p:first-child{
    font-size: 25px;
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.842);
    
   }
 #premises div p:nth-child(2){
    color:rgba(0, 0, 0, 0.829);
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 28px;
    text-align: justify;
    
    line-height: 25px;
    }
 #premises div button{
    color: #1f7eeb;
    font-size: 12px;
    padding: 12px 20px;
    margin: 20px 20px;
    background-color: transparent;
    outline: none;
    border: 1px solid #1f7eeb;
    border-radius: 20px;
 }
 #premises div:last-child{
   
    width: 50%;
    height: 100%;
}
#premises div:last-child img {
    width: 100%;
    height: 100%;
    margin-top: 20px;
}
